
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --red:red;
    --white:white;
    --dark:black;
}

body {
    color: var(--dark);
    background: var(--white);
    
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.081);
    background: var(--white);
    transition: all 0.5s;
    

}

.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--dark);

}

.navigation ul{
  display: flex;
  align-items: center;
  gap: 5rem;
  
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s;
}

.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor:pointer;
    display: none;
   
}
.menu .bar{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

/* FIM DO HEADER */
/*/////////////////////////////////////*/
/*  INÍCIO DA HOME */

.home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    margin-top: 50px;
}

.home-text {
    max-width: 1200px;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;    
}
.home-text p{
    margin-bottom: 4rem;

}
.home-btn{
    padding: 15px 40px;
    background: var(--red);
    color: var(--white);
    border-radius: 15px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: rgb(163, 9, 9);
}

.home-img{
    width: 100%;
}
.home-img img{
    width: 100%;

}

/* FIM DO MEIO */
/*//////////////////////////*/
/* INÍCIO DO RESPONSIVO */

@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
        
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 100px;
        width: 100%;
        height: 50%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
        padding: 10px;
        
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item {
        margin: 1px 0;
        display: block;
    }

    .navigation .nav-menu{
        gap: 2.5rem;
    }

    .home{
        padding: 10px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    .home-img img{
        padding-top: 50px;
    }

    .home-text h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
    }
    .home-text p{
        font-size: 11pt;
        padding: 10px;
    }
}